<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/shared.css" type="text/css" rel="stylesheet">
    <title>Twidder</title>
    <link rel="icon" type="image/x-icon" href="/static/src/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="content">
    <img id="loading-logo" src="/static/src/logo.png" alt="twidder logo" width="170" height="170">
    <p id="loading-text-title">Twidder</p>
    <p id="loading-text-description">Internal server error</p>
</div>
</body>
</html>