<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./static/css/shared.css" type="text/css" rel="stylesheet">
    <link href="./static/css/welcome-view.css" type="text/css" rel="stylesheet">
    <link href="./static/css/user-view.css" type="text/css" rel="stylesheet">
    <script src="./static/js/client.js"></script>
    <title>Twidder</title>
    <link rel="icon" type="image/x-icon" href="./static/src/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <script id="welcome-view" type=”text/view”>
        <img id="image-twidder-logo" src="./static/src/logo.png" alt="twidder logo" width="170" height="170">
        <div id="login-container">
            <form id="form-login" action="#" onsubmit="formLogin(this);return false;">
                <input id="input-login-email" type="email" size="10" required placeholder="e-mail">
                <input id="input-login-password" type="password" required size="10" minlength="8" placeholder="password">
                <button id="button-login" type="submit" name="save" value="Save">Login</button>
            </form>
            <button id="button-register-window" type="submit" name="save" value="Save" onclick="showRegisterContainer();">
                Register
            </button>
        </div>
        <p id="text-twidder">Twidder</p>
        <p id="text-twidder-description">Where cat videos reign supreme, and your existential musings get 280 characters of fame – because life is too short for
            serious social networking!</p>
        <div id="register-container">
            <span onclick="hideRegisterContainer();" class="close-button" title="Close Modal">&times;</span>
            <form id="form-register" action="#" onsubmit="formRegister(this);return false;">
                <p>Create a new account</p>
                <div>
                    <input id="input-sign-up-first-name" type="text" required size="10" placeholder="First name">
                    <input id="input-sign-up-last-name" type="text" required size="10" placeholder="Last name">
                </div>
                <div>
                    <input id="input-sign-up-city" required type="text" size="10" placeholder="City">
                    <input id="input-sign-up-country" required type="text" size="10" placeholder="Country">
                </div>
                <div>
                    <select id="input-sign-up-gender" onpageshow="checkValidGender(this);" onChange="checkValidGender(this);">
                        <option value="" disabled selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                <input id="input-sign-up-email" required type="email" size="10" placeholder="e-mail">
                </div>
                <div>
                    <input id="input-sign-up-password" required minlength="8" type="password" size="10" onKeyUp="checkSamePasswords('input-sign-up-password', 'input-sign-up-password-repeat');" placeholder="Password">
                    <input id="input-sign-up-password-repeat" required minlength="8" type="password" size="10" onKeyUp="checkSamePasswords('input-sign-up-password', 'input-sign-up-password-repeat');" placeholder="Repeat password">
                </div>
                <button id="button-register" type="submit" name="save" value="Save">Register</button>
            </form>
        </div>
        <div id="text-authors">Created by Andrej Pajtaš and Rosanna Isaksson in 2024</div>
    </script>
    <script id="user-view" type=”text/view”>
    <div id="sidebar">
        <img src="./static/src/logo.png" alt="twidder logo" width="64" height="64">
        <a id="sidebar-tab-home" class="active" href="#" onclick="showTab('home'); return false;">Home</a>
        <a id="sidebar-tab-browse" href="#" onclick="showTab('browse'); return false;">Browse</a>
        <a id="sidebar-tab-account" href="#" onclick="showTab('account'); return false;">Account</a>
        <div class="footer">
          <a id="button-logout" href="#" onclick="logout(); return false;">Sign out</a>
        </div>
    </div>
    <button id="jump-to-start" onclick="jumpToStart()">Top</button>

    <div id="tab-home" class="page">
      <div id="home-page">
        <div id="home-user-background"></div>
        <svg onclick="reloadUserData(this);return false;" id="home-reload-button" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"/>
        </svg>
        <div id="home-user-page">
          <div id="home-user-page-user-info">
            <img id="home-user-image" alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
            <div id="home-user-name">Name</div>
            <div id="home-user-gender">Gender</div>
            <div id="home-user-email">Email</div>
            <div id="home-user-location">Location</div>
          </div>
          <div id="container-home-wall">
            <div id="home-wall">
              <form id="form-home-new-post" action="#" onsubmit="addPostHome(this);return false;">
                  <div class="media-content">
                      <video id="post-home-uploaded-video" controls></video>
                      <img id="post-home-uploaded-image" alt="uploaded content">
                      <svg id="home-post-remove-content" width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                      </svg>
                  </div>
                  <textarea id="input-home-new-post" placeholder="Write something interesting..." required></textarea>
                  <div class="post-bar">
                    <label for="home-post-file-upload">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="22" height="22">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path d="M256 0H576c35.3 0 64 28.7 64 64V288c0 35.3-28.7 64-64 64H256c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64zM476 106.7C471.5 100 464 96 456 96s-15.5 4-20 10.7l-56 84L362.7 169c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h80 48H552c8.9 0 17-4.9 21.2-12.7s3.7-17.3-1.2-24.6l-96-144zM336 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM64 128h96V384v32c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V384H512v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64zm8 64c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V312c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H72zm336 16v16c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H424c-8.8 0-16 7.2-16 16z"/>
                        </svg>
                    </label>
                    <input id="home-post-file-upload" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,video/x-matroska,.mkv" type="file" onchange="postFileUpload(this, 'post-home-uploaded-image', 'post-home-uploaded-video', 'home-post-remove-content');"/>
                    <button id="button-home-new-post" type="submit" name="save" value="Save">Post</button>
                  </div>
              </form>
              <div id="home-post-template">
                <div class="time"></div>
                <div class="author"></div>
                <div class="media-content">
                  <video src="" controls></video>
                  <img src="" alt="uploaded content">
                </div>
                <div class="content"></div>
                <svg onclick="buttonDeletePost(this);" class="button-delete" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                </svg>
                <svg onclick="buttonEditPost(this);" class="button-edit" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-browse" class="page">
      <div id="browse-page">
        <form id="form-search-user" action="#" onsubmit="formSearchUser(this);return false;">
          <div id="search-bar">
            <input id="input-user-email" type="email" size="10" required placeholder="example@email.com" onKeyDown="searchButtonUpdate();">
            <button id="browse-search-button" type="submit" name="save" value="Save">Search</button>
          </div>
        </form>
        <div id="browse-user-background"></div>
        <div id="container-user-page">
          <div id="browse-container-user-info">
            <img id="browse-user-image" alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
            <div id="browse-user-name">Name</div>
            <div id="browse-user-gender">Gender</div>
            <div id="browse-user-email">Email</div>
            <div id="browse-user-location">Location</div>
          </div>
          <div id="container-wall">
            <div id="browse-wall">
              <form id="form-browse-new-post" action="#" onsubmit="addPostBrowse(this);return false;">
                  <div class="media-content">
                      <video id="post-browse-uploaded-video" controls></video>
                      <img id="post-browse-uploaded-image" alt="uploaded content">
                      <svg id="browse-post-remove-content" width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                          <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                      </svg>
                  </div>
                  <textarea id="input-browse-new-post" placeholder="Write something interesting..." required></textarea>
                  <div class="post-bar">
                    <label for="browse-post-file-upload">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="22" height="22">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path d="M256 0H576c35.3 0 64 28.7 64 64V288c0 35.3-28.7 64-64 64H256c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64zM476 106.7C471.5 100 464 96 456 96s-15.5 4-20 10.7l-56 84L362.7 169c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h80 48H552c8.9 0 17-4.9 21.2-12.7s3.7-17.3-1.2-24.6l-96-144zM336 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM64 128h96V384v32c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V384H512v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64zm8 64c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V312c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H72zm336 16v16c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H424c-8.8 0-16 7.2-16 16z"/>
                        </svg>
                    </label>
                    <input id="browse-post-file-upload" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,video/x-matroska,.mkv" type="file" onchange="postFileUpload(this, 'post-browse-uploaded-image', 'post-browse-uploaded-video', 'browse-post-remove-content');"/>
                    <button id="button-browse-new-post" type="submit" name="save" value="Save">Post</button>
                  </div>
              </form>
              <div id="browse-post-template">
                <div class="time"></div>
                <div class="author"></div>
                <div class="media-content">
                  <video src="" controls></video>
                  <img src="" alt="uploaded content">
                </div>
                <div class="content"></div>
                <svg onclick="buttonDeletePost(this);" class="button-delete" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                </svg>
                <svg onclick="buttonEditPost(this);" class="button-edit" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-account" class="page">
      <div id="account-content">
        <div id="account-window">
            <div id="account-container">
                <div id="account-info">
                    <img id="account-user-image" alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
                </div>
                <form id="form-account-details" action="#" onsubmit="formEditAccountDetails(this);return false;">
                    <p id="title-account-details">Account details</p>
                    <div>
                        <input id="input-account-first-name" type="text" required size="10" placeholder="First name">
                        <input id="input-account-last-name" type="text" required size="10" placeholder="Last name">
                    </div>
                    <div>
                        <input id="input-account-city" required type="text" size="10" placeholder="City">
                        <input id="input-account-country" required type="text" size="10" placeholder="Country">
                    </div>
                    <div>
                        <select id="input-account-gender" onpageshow="checkValidGender(this);" onChange="checkValidGender(this);">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <p id="account-email">email@example.com</p>
                    </div>
                    <button type="submit" name="save" value="Save">Save changes</button>
                </form>
                <form id="form-change-password" action="#" onsubmit="formChangePassword(this);return false;">
                    <p>Change password</p>
                    <input id="input-change-password-old" type="password" required size="10" minlength="8" placeholder="Old password">
                    <input id="input-change-password-new" type="password" required size="10" minlength="8" onKeyUp="checkSamePasswords('input-change-password-new', 'input-change-password-new-repeat');" placeholder="New password">
                    <input id="input-change-password-new-repeat" type="password" required size="10" minlength="8" onKeyUp="checkSamePasswords('input-change-password-new', 'input-change-password-new-repeat');" placeholder="Repeat new password">
                    <button type="submit" name="save" value="Save">Change password</button>
                </form>
            </div>
            <div id="delete-account-container">
                <div>
                    <p>Delete user account?</p>
                </div>
                <button id="button-delete-account" onclick="buttonDeleteUserAccount(this);return false;">Delete account</button>
            </div>
        </div>
      </div>
    </div>
    </script>
    <div id="content">
        <img id="loading-logo" src="./static/src/logo.png" alt="twidder logo" width="170" height="170">
        <p id="loading-text-title">Twidder</p>
        <p id="loading-text-description">The page is loading...</p>
    </div>
    <div id="pop-message"></div>
  </body>
</html>