<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./static/css/shared.css" type="text/css" rel="stylesheet">
    <link href="./static/css/welcome-view.css" type="text/css" rel="stylesheet">
    <link href="./static/css/tab-home.css" type="text/css" rel="stylesheet">
    <link href="./static/css/tab-browse.css" type="text/css" rel="stylesheet">
    <link href="./static/css/tab-account.css" type="text/css" rel="stylesheet">
    <script src="./static/js/client.js"></script>
    <title>Twidder</title>
    <link rel="icon" type="image/x-icon" href="./static/src/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <script id="welcome-view" type=”text/view”>
        <img id="image-twidder-logo" src="./static/src/logo.png" alt="twidder logo" width="170" height="170">
        <div id="login-container">
            <form id="form-login" action="#" onsubmit="formLogin(this);return false;">
                <input id="input-login-email" type="email" size="10" required placeholder="e-mail">
                <input id="input-login-password" type="password" required size="10" minlength="8" placeholder="password">
                <button id="button-login" type="submit" name="save" value="Save">Login</button>
            </form>
            <button id="button-register-window" type="submit" name="save" value="Save" onclick="showRegisterContainer();">
                Register
            </button>
        </div>
        <p id="text-twidder">Twidder</p>
        <p id="text-twidder-description">Where cat videos reign supreme, and your existential musings get 280 characters of fame – because life is too short for
            serious social networking!</p>
        <div id="register-container">
            <span onclick="hideRegisterContainer();" class="close-button" title="Close Modal">&times;</span>
            <form id="form-register" action="#" onsubmit="formRegister(this);return false;">
                <p>Create a new account</p>
                <div>
                    <input id="input-sign-up-first-name" type="text" required size="10" placeholder="First name">
                    <input id="input-sign-up-last-name" type="text" required size="10" placeholder="Last name">
                </div>
                <div>
                    <input id="input-sign-up-city" required type="text" size="10" placeholder="City">
                    <input id="input-sign-up-country" required type="text" size="10" placeholder="Country">
                </div>
                <div>
                    <select id="input-sign-up-gender" onpageshow="checkValidGender(this);" onChange="checkValidGender(this);">
                        <option value="" disabled selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                <input id="input-sign-up-email" required type="email" size="10" placeholder="e-mail">
                </div>
                <div>
                    <input id="input-sign-up-password" required minlength="8" type="password" size="10" onKeyUp="checkSamePasswords('input-sign-up-password', 'input-sign-up-password-repeat');" placeholder="Password">
                    <input id="input-sign-up-password-repeat" required minlength="8" type="password" size="10" onKeyUp="checkSamePasswords('input-sign-up-password', 'input-sign-up-password-repeat');" placeholder="Repeat password">
                </div>
                <button id="button-register" type="submit" name="save" value="Save">Register</button>
            </form>
        </div>
    </script>
    <script id="user-view" type=”text/view”>
    <div id="sidebar">
        <img src="./static/src/logo.png" alt="twidder logo" width="64" height="64">
        <a id="sidebar-tab-home" class="active" href="#" onclick="showTab('home'); return false;">Home</a>
        <a id="sidebar-tab-browse" href="#" onclick="showTab('browse'); return false;">Browse</a>
        <a id="sidebar-tab-account" href="#" onclick="showTab('account'); return false;">Account</a>
        <div class="footer">
          <a id="button-logout" href="#" onclick="logout(); return false;">Sign out</a>
        </div>
    </div>
    <button id="jump-to-start" onclick="jumpToStart()">Top</button>

    <div id="tab-home" class="page">
      <div id="home-page">
        <div id="home-user-background"></div>
        <img id="home-reload-button" alt="reload button" src="./static/src/reload.svg" width="32" height="32" onclick="reloadHomeTab(this);return false;">
        <div id="home-user-page">
          <div id="home-user-page-user-info">
            <img alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
            <div id="home-user-name">Name</div>
            <div id="home-user-gender">Gender</div>
            <div id="home-user-email">Email</div>
            <div id="home-user-location">Location</div>
          </div>
          <div id="container-home-wall">
            <div id="home-wall">
              <form id="form-home-new-post" action="#" onsubmit="addPostHome(this);return false;">
                  <textarea id="input-home-new-post" placeholder="Write something interesting..." required></textarea>
                  <button id="button-home-new-post" type="submit" name="save" value="Save">Post</button>
              </form>
              <div id="home-post-template">
                <div class="time"></div>
                <div class="author"></div>
                <div class="content"></div>
                <img onclick="deleteHomePost(this);" class="button-delete" src="./static/src/bin.svg" alt="delete post" width="24" height="24">
                <img onclick="editHomePost(this);" class="button-edit" src="./static/src/edit.svg" alt="edit post" width="24" height="24">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-browse" class="page">
      <div id="browse-page">
        <form id="form-search-user" action="#" onsubmit="searchUser(this);return false;">
          <div id="search-bar">
            <input id="input-user-email" type="email" size="10" required placeholder="example@email.com" onKeyDown="searchButtonUpdate();">
            <button id="browse-search-button" type="submit" name="save" value="Save">Search</button>
          </div>
        </form>
        <div id="browse-user-background"></div>
        <div id="container-user-page">
          <div id="browse-container-user-info">
            <img alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
            <div id="browse-user-name">Name</div>
            <div id="browse-user-gender">Gender</div>
            <div id="browse-user-email">Email</div>
            <div id="browse-user-location">Location</div>
          </div>
          <div id="container-wall">
            <div id="browse-wall">
              <form id="form-browse-new-post" action="#" onsubmit="addPostBrowse(this);return false;">
                  <textarea id="input-browse-new-post" placeholder="Write something interesting..." required></textarea>
                  <button type="submit" name="save" value="Save">Post</button>
              </form>
              <div id="browse-post-template">
                <div class="time"></div>
                <div class="author"></div>
                <div class="content"></div>
                <img onclick="deleteBrowsePost(this);" class="button-delete" src="./static/src/bin.svg" alt="delete post" width="24" height="24">
                <img onclick="editBrowsePost(this);"class="button-edit" src="./static/src/edit.svg" alt="edit post" width="24" height="24">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-account" class="page">
      <div id="account-content">
        <div id="account-window">
            <div id="account-container">
                <div id="account-info">
                    <img alt="user profile picture" src="./static/src/user-solid.svg" width="128" height="128">
                </div>
                <form id="form-account-details" action="#" onsubmit="TODO(this);return false;">
                    <p id="title-account-details">Account details</p>
                    <div>
                        <input id="input-account-first-name" type="text" required size="10" placeholder="First name">
                        <input id="input-account-last-name" type="text" required size="10" placeholder="Last name">
                    </div>
                    <div>
                        <input id="input-account-city" required type="text" size="10" placeholder="City">
                        <input id="input-account-country" required type="text" size="10" placeholder="Country">
                    </div>
                    <div>
                        <select id="input-account-gender" onpageshow="checkValidGender(this);" onChange="checkValidGender(this);">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <p id="account-email" >email@example.com</p>
                    </div>
                    <button type="submit" name="save" value="Save">Save changes</button>
                </form>
                <form id="form-change-password" action="#" onsubmit="changedPasswordForm(this);return false;">
                    <p>Change password</p>
                    <input id="input-change-password-old" type="password" required size="10" minlength="8" placeholder="Old password">
                    <input id="input-change-password-new" type="password" required size="10" minlength="8" onKeyUp="checkSamePasswords('input-change-password-new', 'input-change-password-new-repeat');" placeholder="New password">
                    <input id="input-change-password-new-repeat" type="password" required size="10" minlength="8" onKeyUp="checkSamePasswords('input-change-password-new', 'input-change-password-new-repeat');" placeholder="Repeat new password">
                    <button type="submit" name="save" value="Save">Change password</button>
                </form>
            </div>
            <div id="delete-account-container">
                <div>
                    <p>Delete user account?</p>
                </div>
                <button id="button-delete-account">Delete account</button>
            </div>
        </div>
      </div>
    </div>
    </script>
    <div id="content">
        <img id="loading-logo" src="./static/src/logo.png" alt="twidder logo" width="170" height="170">
        <p id="loading-text-title">Twidder</p>
        <p id="loading-text-description">The page is loading...</p>
    </div>
    <div id="pop-message"></div>
  </body>
</html>