#container {
    background-color: blue;
    width: 600px;
    height: 400px;
    margin-top: 10px;
}
#container-info {
    display: inline-block;
    width: 340px;
    height: 400px;
    background-color: red;
}
#container-ui {
    vertical-align:top;
    /* display: inline-block; */
    float: right;
    width:250px;
    height:400px;
    background-color: green;
}
#container-login {
    width:250px;
    height:120px;
    background-color: orange;
}
#container-signup {
    width:250px;
    height:265px;
    margin-top: 15px;
    background-color: yellow;
}

label {
    display: inline-block;
    width: 76px;
    text-align: right;
  }​

  #submit {
    color: #fff;
    width: 135px;
    height: 60px;
    text-align: right;
    background: #0c0 url(image) 0 0 no-repeat; 
   }