body {
    /* background-image: url("src/background4.jpeg"); */
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    margin: 0;
}

p {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
}


.image-center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/* RESPONSIVE SIDEBAR AND PAGE LAYOUT */

#sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

#sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-left: 0px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
    animation-name: appear-from-left;
	animation-duration: 0.4s;
}

#sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

#sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#sidebar .footer a {
    animation-name: none;
}

@keyframes appear-from-left {
    0%   {margin-left: -250px; margin-right: 250px;}
    50%   {margin-left: -250px; margin-right: 250px;}
    100% {}
}

.page {
    margin-left: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
}

#page-content {
    width: 100%;
}

#sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar .footer {
    height:40px;
    width:100%;
    position:absolute;
    bottom:0;
}

#sidebar .footer a {
    display: block;
    color: black;
    padding: 0px;
    padding-top: 7px;
    height: 28px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
        height: auto;
        z-index: 100;
    }
    #sidebar a {
        float: left;
        margin: 5px;
        margin-top: 0px;
        border-radius: 25px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        animation-name: none;
    }
    .page {
        height: auto;
        margin-left: 0;
        padding-top: 55px;
    }
    #sidebar img {
        display: none
    }
    #sidebar .footer {
        width: fit-content;
        height: 50px;
        right: 0px;
        bottom: unset;
    }
    #sidebar .footer a {
        float: right;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 5px;
        margin: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 25px;
    }
}

@media screen and (max-width: 400px) {
    #sidebar a {
        margin: 0px;
        border-radius: 0px;
        box-shadow: 0 0 0 0;
    }
    .page {
        padding-top: 50px;
    }
    #sidebar .footer a {
        float: right;
    }
}

/* TABS */
#tab-home {
    display: flex;
}

#tab-browse {
    display: none;
}

#tab-account {
    display: none;
}

/* JUMP TO START BUTTON */
#jump-to-start {
    position: fixed;
    bottom: -60px;
    right: 20px;
    border: none;
    border-color: #2196F3;
    color: dodgerblue;
    padding: 15px;
    border-radius: 25px;
    transition: 0.3s;
    z-index: 100;
}
  
#jump-to-start:hover {
    background: #2196F3;
    color: white;
}

/* POPUP MESSAGE */
#pop-message {
    visibility: hidden;
    left: 50%;
    bottom: 30px;
    min-width: 250px;
    margin-left: -141px;
    padding: 16px;
    position: fixed;
    border-radius: 3px;
    color: #ffffff;
    background-color: #f44336;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
  
#pop-message.show {
    visibility: visible;
    animation: fadein 0.50s, fadeout 0.50s 4.05s;
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.close-button {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close-button:hover {
    cursor: pointer;
}
