#browse-page {
    width: 100%;
    height: 100%;
}

#form-search-user {
    position: fixed;
    width: calc(100% - 200px);
    top: 5px;
    transition: 0.3s;
    z-index: 50;
}

#search-bar {
    margin: 10px;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#search-bar input {
    width: 100%;
    height: 36px;
    border-radius: 25px 0px 0px 25px;
    text-align: left;
    padding-left: 20px;
    padding-right: 0px;
    transition: 0.2s;
}

#search-bar input:focus:invalid {
    border: 1px solid #e7e7e7;
    outline: none;
}

#search-bar input:focus:valid {
    border: 1px solid #e7e7e7;
    outline: none;
}

#search-bar input:not(:focus) {
    border: 1px solid #e7e7e7;
    outline: none;
}

#search-bar button {
    width: 120px;
    padding-left: 0px;
    color: #2196F3;
    background-color: white;
    /* border: 1px solid rgba(0,0,0,0); */
    border: 1px solid #2196F3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.2s;
}

#search-bar button:hover {
    background: #2196F3;
    color: #ffffff;
}

@media screen and (max-width: 700px) {
    #form-search-user {
        margin-top: 55px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #form-search-user {
        margin-top: 50px;
    }
}

#browse-user-background {
    width: 100%;
    height: 160px;
    background-color: orange;
}

#container-user-page {
    display: none;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: white;
    padding-bottom: 10px;
    transition: 0.2s;
}

#browse-container-user-info {
    position: absolute;
    width: fit-content;
    top: 100px;
    left: 340px;
}

#browse-container-user-info img {
    width: 120px;
    height: 120px;
    padding: 16px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#container-wall {
    display: flex;
    height: fit-content;
}

#browse-wall {
    display: block;
    margin: auto;
}

#form-browse-new-post {
    width: 400px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#form-browse-new-post textarea {
    width: 394px;
    height: 120px;
    text-align: left;
    transition: 0.2s;
    border: 0px;
    outline: 0px;
    resize: none;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

#form-browse-new-post button {
    float: right;
    width: 130px;
    height: 30px;
    background-color: white;
    border: 1px solid #04AA6D;
    border-radius: 5px;
    transition: 0.2s;
}

#form-browse-new-post button:hover {
    color: white;
    background: #04AA6D;
}

/* #form-browse-new-post textarea:invalid {
    border: 1px solid red;
    outline: none;
}

#form-browse-new-post textarea:valid {
    border: 1px solid green;
    outline: none;
}

#form-browse-new-post textarea:not(:focus) {
    border: 1px solid #e7e7e7;
    outline: none;
} */

.browse-post {
    width: 400px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#browse-post-template {
    display: none;
}

.browse-post .author {
    font-family: Tahoma, sans-serif;
    font-size: 16px; 
}

.browse-post .content {
    height: 104px;
    font-family: Tahoma, sans-serif;
    font-size: 15px; 
    color: gray;
}

.browse-post .button-edit, .browse-post .button-delete {
    float: right;
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.browse-post .button-edit:hover {
    background-color: green;
}

.browse-post .button-delete:hover {
    background-color: red;
}

@keyframes browse-post-appear {
    0%  {opacity: 0; height: 0px;}
    50%  {opacity: 0; height: 150px;}
    100%   {opacity: 1;}
}

@keyframes browse-post-appear-inner {
    0%  {display: none;}
    75%  {display: none; opacity: 0;}
    100%  {display: unset; opacity: 1;}
}

@media screen and (max-width: 1275px) {
    #browse-container-user-info {
        left: 240px;
    }
}

@media screen and (max-width: 1050px) {
    #browse-wall{
        margin: unset;
        margin-left: auto;
        margin-right: 30px;
    }
}

@media screen and (max-width: 880px) {
    #browse-container-user-info {
        position: static;
        margin: auto;
    }

    #browse-wall{
        margin: auto;
    }
}

@media screen and (max-width: 430px) {
    #form-browse-new-post {
        width: 300px;
    }
    #form-browse-new-post textarea {
        width: 294px;
    }
    .browse-post {
        width: 300px;
    }
}
